.home {
    display: flex;
    flex: 6;
    flex-direction: column;

    h3 {

        margin-top: 20px;
        font-size: 35px;
        text-align: center;
    }

    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;


        .product {
            display: flex;
            flex-direction: column;
            height: 600px;
            width: 500px;
            border: 1px solid rgb(240, 237, 237);
            border-radius: 8px;
            align-items: center;
            background-color: azure;

            img {
                height: 400px;
                width: 400px;

            }

            .seller {
                font-size: 28px;
                font-weight: 800;
            }

            .title {
                font-size: 22px;
                font-weight: 500;
            }

            .price {
                font-size: 22px;
                font-weight: 500;
            }

            button {
                height: 30px;
                width: 200px;
                background-color: orange;
                color: black;
                text-align: center;
                font-weight: 700;
                border: none;
                font-size: 20px;
                border-radius: 4px;
            }
        }

    }
}