.shop {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    max-height: 92vh;


    .top {
        display: flex;
        flex-direction: column;
        position: relative;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: 25% 25%;
            opacity: 0.8;
        }

        span {
            position: absolute;
            top: 420px;
            left: 10px;
            font-size: 70px;
            font-weight: 700;
            color: black;

        }
    }

    .mid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        .desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px;


            h3 {
                font-size: 25px;
                font-weight: bold;
            }

            p {
                // overflow-y: scroll;
                width: 90%;
                height: 200px;
                font-size: 18px;
                padding: 10px;
                background-color: antiquewhite;
                border-radius: 8px;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            width: 87%;
            height: 80px;
            background-color: antiquewhite;
            border-radius: 8px;
            // align-items: center;
            padding: 8px;
            padding-left: 25px;

            span {
                font-size: 20px;
            }
        }
    }

    h1 {
        text-align: center;
    }

    .products {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        min-width: 40%;

        .product {
            img {
                height: 240px !important;
                width: 215px !important;
                margin-top: 5px;
                border-radius: 10px;
                object-fit: cover;

            }

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            height: 370px;
            width: 230px;
            background-color: #dde4f6;
            border-radius: 8px;
            

            span {
                font-size: 22px;
                font-weight: 500;
                margin: 0 auto;
            }

            button {
                width: 120px !important;
                height: 25px !important;
                background-color: yellow;
                border-radius: 8px;
                border: none;
                font-weight: 700;
                margin-bottom: 5px;
            }
        }

    }
}

.reviews-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    .write-a-review{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 65px;
            font-weight: bolder;
        }
        p{
            font-size: 27px;
        }
        button{
            display: flex;
            margin-top: 10px;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 40px;
            border: none;
            font-size: 25px;
            padding: 8px;
            font-weight: 600;
            background-color: yellow;
            border-radius: 8px;
        }
    }

    .reviews{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .review{
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: start;
            margin: 15px 120px;
            // gap: 15px;
            

            .upper{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                h3{
                    font-size: 28px;
                }
            }
            .review-mid{
                display: flex;
                align-items: center;
                gap: 15px;
                div{
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            .original-images{
                margin-top: 8px;
                display: flex;
                // align-items: center;
                justify-content: center;
                img{
                    height: 280px;
                    width: 220px;
                    object-fit: cover;
                }
            }
            .review-desc{
                margin-top: 12px;
            }
        }
    }


}