.bg{
    // background-color: rgba(128, 128, 128, 0);
    // opacity: 0.1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.368);
}