@use '../../app.scss';

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: -2px 10px 24px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 10px 24px -15px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 10px 24px -15px rgba(0, 0, 0, 0.75);


    a{
        text-decoration: none;
        cursor: pointer;
    }
    .left {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: 1%;

        .logo {
            :first-child {
                font-weight: bolder;
                color: app.$logo;
                font-size: 25px;
            }
            :last-child {
                font-weight: bolder;
                color: black;
                font-size: 25px;
            }
        }

        .city {
            display: flex;
            justify-content: center;
        }

        .search {
            display: flex;
            align-items: center;
            border: 1px solid gray;
            gap: 4px;
            border-radius: 5px;

            input {
                border: none;
                text-align: center;
                background-color: transparent;
                font-size: 15px;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 1%;

        img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-bottom: -6px;
        }

        .name {
            span {
                font-size: 15px;
                font-weight: bolder;
            }
        }
    }
}